<div class="jumbotron jumbotron-fluid navbar-light bg-light ">
    <div class="container">
        <h3 class="display-4 text-center">Parent name: {{user.name}} {{user.lastName}}</h3>
        <h6 class="text-center">Email: {{user.email}}</h6>
    </div>
</div>
{{#each user.children as |child|}}
<div class="container">
    <div class="justify-content-center row">
        <div class="card bg-light text-dark" style="width: 18rem;">
            <img src="/images/Helping-babies-sleep.jpg" class="card-img-top mt-1" alt="babypic">
            <div class="card-body">
                <h5 class="card-title text-center">{{child.first_name}} {{child.last_name}}</h5>
                <p class="card-text text-center">Child Age: {{child.child_age}}</p>
                <a href="/childprofile/{{id}}" class="btn btn-warning d-flex justify-content-center">Sleep Chart</a>
            </div>
        </div>
    </div>
</div>
{{/each}}

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <a type="button" class="btn btn-dark" href="/profile/newchild">+ Child</a>
    </div>
</div>